{% extends 'base.html.twig' %}

{% block title %}Hello - Go to Event!{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

{% endfor %}

<div class="col-4 ms-4">
<h1>Reserve a seat</h1>

{% if event %}
<h2>{{ event.title }}</h2>
<p> {{ event.eventdate|date("Y-m-d H:i:s") }}</p>
{% endif %}

{{ form(form) }}

</div>

{% endblock %}
